# Secret for flask session
SECRET_KEY=xxxxx
SQLALCHEMY_TRACK_MODIFICATIONS=False
DATABASE_URL=postgresql://postgres@localhost/botworks
REDIS_URL=redis://localhost:6379
# Admin aka first user setup in the system on startup
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password
ADMIN_EMAIL=admin@example.com
ADMIN_FULL_NAME=Administrator
DEBUG=True
# JWT used for authentication on live debug
ACCESS_SECRET_KEY=xxxxx
REFRESH_SECRET_KEY=xxxxx
DEBUG=True
# Used for serving up SWML files
HTTP_USERNAME=username
HTTP_PASSWORD=password
# SignalWire space information
SPACE_NAME=spacename.signalwire.com
AUTH_TOKEN=xxxxx
PROJECT_ID=xxxxx
CORS_ALLOWED_ORIGINS=https://something.ngrok.io,https://*.ngrok.io
# Mailgun information
MAILGUN_API_KEY=xxxxx
MAILGUN_DOMAIN=xxxxx
MAILGUN_FROM_EMAIL=xxxxx
MAILGUN_FROM_NAME=xxxxx
# VAPID keys
VAPID_PUBLIC_KEY=xxxxx
VAPID_PRIVATE_KEY=xxxxx
VAPID_CLAIMS_EMAIL=xxxxx
