SECRET_KEY=xxxxx
SQLALCHEMY_TRACK_MODIFICATIONS=False
DATABASE_URL=postgresql://postgres@localhost/botworks
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password
ADMIN_EMAIL=admin@example.com
ADMIN_FULL_NAME=Administrator