SECRET_KEY=xxxxx
SQLALCHEMY_TRACK_MODIFICATIONS=False
DATABASE_URL=postgresql://postgres@localhost/botworks
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password
ADMIN_EMAIL=admin@example.com
ADMIN_FULL_NAME=Administrator
DEBUG=True
ACCESS_SECRET_KEY=xxxxx
REFRESH_SECRET_KEY=xxxxx
DEBUG=True
HTTP_USERNAME=username
HTTP_PASSWORD=password
SPACE_NAME=dev.swire.io
AUTH_TOKEN=xxxxx
PROJECT_ID=xxxxx
CORS_ALLOWED_ORIGINS=https://something.ngrok.io,https://*.ngrok.io