{% extends 'base.html' %}

{% block title %}Live Debug{% endblock %}


{% block content %}
{% include 'navbar.html' %}
{% include 'sidebar.html' %}

<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-6">
          <h1 class="m-0">Live Debug</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header bg-primary">
              <h3 class="card-title">Live Debug</h3>
            </div>
            <div class="card-body">
              <input id="channel" type="hidden" placeholder="Enter channel name" class="form-control mb-2">
              <button class="btn btn-primary" onclick="joinChannel()">Join</button>
              <button class="btn btn-secondary" onclick="leaveChannel()">Leave</button>
              <button class="btn btn-success" onclick="connectSocket()">Connect</button>
              <button class="btn btn-danger" onclick="disconnectSocket()">Disconnect</button>


              <h2>Messages:</h2>

              <select id="callIdDropdown" class="form-control mb-2" onchange="filterMessagesByCallId()">
                <option value="">Select Call ID</option>
              </select>
              
              <textarea id="messages" class="form-control mb-2" rows="25" readonly></textarea>

              <div class="table-responsive">
                <table class="table">
                </table>
              </div>

              <input id="message" type="text" placeholder="Enter message to inject into the AI conversation"
                class="form-control mb-2">
              <div class="d-flex align-items-center mb-2">

                <button class="btn btn-success mr-2" onclick="sendMessage()">Send</button>
                <button class="btn btn-danger mr-2" onclick="clearMessages()">Clear</button>
                <button class="btn btn-warning mr-2" onclick="hangup()">Hangup</button>
                <div class="d-flex flex-column align-items-start mb-2">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="roleToggle">
                    <label class="custom-control-label" for="roleToggle">Send as System</label>
                  </div>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="rawEventsToggle">
                    <label class="custom-control-label" for="rawEventsToggle">Show Raw Events</label>
                  </div>
                </div>
                <div class="ml-auto status-container">
                  <div class="status-indicator">
                    <span id="connection-status" class="status-circle"></span> Connection
                  </div>
                  <div class="status-indicator">
                    <span id="join-status" class="status-circle"></span> Join
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% include 'footer.html' %}
{% endblock %}

{% block scripts %}
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const accessToken = getCookie('access_token');

    let socket;
    let currentChannel = '{{ channel }}';
    document.getElementById('channel').value = currentChannel;

    let messagesByCallId = {};

    function updateConnectionStatus(connected) {
      const connectionStatus = document.getElementById('connection-status');
      const connectButton = document.querySelector('button[onclick="connectSocket()"]');
      const disconnectButton = document.querySelector('button[onclick="disconnectSocket()"]');
      if (connectionStatus) {
        connectionStatus.style.backgroundColor = connected ? 'green' : 'red';
      }
      connectButton.style.display = connected ? 'none' : 'inline-block';
      disconnectButton.style.display = connected ? 'inline-block' : 'none';
    }

    function updateJoinStatus(joined) {
      const joinStatus = document.getElementById('join-status');
      const joinButton = document.querySelector('button[onclick="joinChannel()"]');
      const leaveButton = document.querySelector('button[onclick="leaveChannel()"]');
      if (joinStatus) {
        joinStatus.style.backgroundColor = joined ? 'green' : 'red';
      }
      joinButton.style.display = joined ? 'none' : 'inline-block';
      leaveButton.style.display = joined ? 'inline-block' : 'none';
    }

    function connectSocket() {
      if (!socket || socket.disconnected) {
        socket = io({
          transports: ['websocket'],
          auth: {
            token: accessToken
          }
        });
        setupSocketListeners();
        console.log('Socket connected');
      }
    }

    function disconnectSocket() {
      if (socket && socket.connected) {
        leaveChannel();
        socket.disconnect();
        updateConnectionStatus(false);
        updateJoinStatus(false); 
        console.log('Socket disconnected');

        Swal.fire({
          toast: true,
          position: 'top-end',
          icon: 'info',
          title: 'Disconnected from socket',
          showConfirmButton: false,
          timer: 3000
        });
      }
    }

    function setupSocketListeners() {
      socket.on('connect', function () {
        updateConnectionStatus(true);
      });

      socket.on('disconnect', function () {
        updateConnectionStatus(false);
        updateJoinStatus(false);
      });
      
      socket.on('send_message', function (data) {
        updateMessagesList(`Sent: ${data.message}`);
      });

      socket.on('response', function (data) {
        console.log('Received response:', data);
        if (typeof data === 'string') {
          data = JSON.parse(data);
        }
        const showRawEvents = document.getElementById('rawEventsToggle').checked; 
        if (data.data) {
          const parsedData = JSON.parse(data.data);
          if (parsedData.command === "conversation_ended") {
            const callId = parsedData.call_info.call_id;
            removeCallIdFromDropdown(callId);
          } else if (!showRawEvents && parsedData.call_info && parsedData.conversation_add) {
            const callId = parsedData.call_info.call_id;
            const messageContent = parsedData.conversation_add.content;
            console.log('Parsed callId:', callId);
            console.log('Parsed messageContent:', messageContent);
            
            if (!messagesByCallId[callId]) {
              messagesByCallId[callId] = [];
              console.log('New callId detected, initializing storage:', callId);
            }
            messagesByCallId[callId].push(messageContent);
            console.log('Updated messagesByCallId:', messagesByCallId);
            addCallIdToDropdown(callId);
            
            const selectedCallId = document.getElementById('callIdDropdown').value;
            if (selectedCallId === callId) {
              updateMessagesList(messageContent);
            }
          } else if (parsedData && showRawEvents) {
            const jsonData = JSON.stringify(parsedData, null, 2);
            updateMessagesList(`Raw Event: ${jsonData}`);
          } 
        }
      });

      socket.on('status', function (data) {
        Swal.fire({
          toast: true,
          position: 'top-end',
          icon: 'success',
          title: data.message,
          showConfirmButton: false,
          timer: 3000
        });
      });
    }

    function updateMessagesList(message) {
      const messagesTextarea = document.getElementById('messages');
      messagesTextarea.value += message + '\n';
      messagesTextarea.scrollTop = messagesTextarea.scrollHeight;
      console.log('Updated messages list with:', message);
    }

    function addCallIdToDropdown(callId) {
      const dropdown = document.getElementById('callIdDropdown');
      const wasEmpty = dropdown.options.length === 1;
      const currentSelection = dropdown.value;
      if (![...dropdown.options].some(option => option.value === callId)) {
        const option = document.createElement('option');
        option.value = callId;
        option.textContent = callId;
        dropdown.appendChild(option);
        console.log('Added callId to dropdown:', callId);
      }
      if (wasEmpty) {
        dropdown.value = callId;
        filterMessagesByCallId();
        sendButton.disabled = false;
        hangupButton.disabled = false;
      } else {
        dropdown.value = currentSelection;
      }
      console.log('Current dropdown selection:', dropdown.value);
    }

    function filterMessagesByCallId() {
      const selectedCallId = document.getElementById('callIdDropdown').value;
      console.log('Filtering messages for callId:', selectedCallId);
      const messagesTextarea = document.getElementById('messages');
      messagesTextarea.value = '';
      if (selectedCallId && messagesByCallId[selectedCallId]) {
        messagesByCallId[selectedCallId].forEach(message => {
          messagesTextarea.value += message + '\n';
        });
        console.log('Displayed messages for callId:', selectedCallId);
      }
    }

    function joinChannel() {
      currentChannel = document.getElementById('channel').value;
      if (!socket || !socket.connected) {
        connectSocket();
      }
      if (currentChannel) {
        socket.emit('join', { channel: currentChannel });
        updateJoinStatus(true);
        console.log(`Joining channel: ${currentChannel}`);
      } else {
        console.error('Channel name is empty');
      }
    }

    function leaveChannel() {
      if (currentChannel) {
        socket.emit('leave', { channel: currentChannel });
        updateJoinStatus(false);
        currentChannel = '';

        Swal.fire({
          toast: true,
          position: 'top-end',
          icon: 'info',
          title: 'Left the channel',
          showConfirmButton: false,
          timer: 3000
        });
      }
    }

    function sendMessage() {
      const message = document.getElementById('message').value;
      const selectedCallId = document.getElementById('callIdDropdown').value;
      const isSystemRole = document.getElementById('roleToggle').checked;
      const role = isSystemRole ? 'system' : 'user';

      if (socket && socket.connected && selectedCallId && message) {
        const messageData = {
          data: JSON.stringify({
            channel: currentChannel,
            call_info: {
              call_id: selectedCallId
            },
            conversation_add: {
              content: message,
              role: role
            }
          })
        };
        socket.emit('send_message', messageData);
        document.getElementById('message').value = '';
        console.log('Sent message with call_id:', selectedCallId, 'and role:', role);
      } else {
        console.error('Cannot send message: socket not connected or call_id/message is empty');
      }
    }

    function clearMessages() {
      const messagesTextarea = document.getElementById('messages');
      messagesTextarea.value = '';
    }

    function hangup() {
      const selectedCallId = document.getElementById('callIdDropdown').value;
      if (socket && socket.connected && selectedCallId) {
        const messageData = {
          data: JSON.stringify({
            command: 'hangup',
            channel: currentChannel,
            call_info: {
              call_id: selectedCallId
            },
            conversation_add: {
              content: 'hangup',
              role: 'system'
            }
          })
        };
        socket.emit('send_message', messageData);
        console.log('Sent hangup command for call_id:', selectedCallId);
      } else {
        console.error('Cannot send hangup command: socket not connected or call_id is empty');
      }
    }

    window.joinChannel = joinChannel;
    window.leaveChannel = leaveChannel;
    window.sendMessage = sendMessage;
    window.clearMessages = clearMessages;
    window.connectSocket = connectSocket;
    window.disconnectSocket = disconnectSocket;
    window.hangup = hangup;

    const sendButton = document.querySelector('button[onclick="sendMessage()"]');
    const hangupButton = document.querySelector('button[onclick="hangup()"]');
    const callIdDropdown = document.getElementById('callIdDropdown');

    callIdDropdown.addEventListener('change', function () {
      const isCallIdSelected = !!callIdDropdown.value;
      sendButton.disabled = !isCallIdSelected;
      hangupButton.disabled = !isCallIdSelected;
    });

    sendButton.disabled = !callIdDropdown.value;
    hangupButton.disabled = !callIdDropdown.value;

    connectSocket();
    joinChannel();

    document.getElementById('message').addEventListener('keydown', function (event) {
      if (event.key === 'Enter') {
        sendMessage();
      }
    });

    window.filterMessagesByCallId = function() {
      const selectedCallId = document.getElementById('callIdDropdown').value;
      console.log('Filtering messages for callId:', selectedCallId);
      const messagesTextarea = document.getElementById('messages');
      messagesTextarea.value = '';
      if (selectedCallId && messagesByCallId[selectedCallId]) {
        messagesByCallId[selectedCallId].forEach(message => {
          messagesTextarea.value += message + '\n';
        });
        console.log('Displayed messages for callId:', selectedCallId);
      }
    };

    function removeCallIdFromDropdown(callId) {
      const dropdown = document.getElementById('callIdDropdown');
      const options = Array.from(dropdown.options);
      const optionToRemove = options.find(option => option.value === callId);
      if (optionToRemove) {
        dropdown.removeChild(optionToRemove);
        console.log('Removed callId from dropdown:', callId);
      }
      
      const sendButton = document.querySelector('button[onclick="sendMessage()"]');
      sendButton.disabled = dropdown.options.length <= 1;
      hangupButton.disabled = dropdown.options.length <= 1;
    }
  });
</script>
<style>
  .status-indicator {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .status-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    background-color: red;
    /* Default to red */
  }
</style>
{% endblock %}
