{% extends 'base.html' %}

{% block title %}Live Debug{% endblock %}


{% block content %}
{% include 'navbar.html' %}
{% include 'sidebar.html' %}

<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-6">
          <h1 class="m-0">Live Debug</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header bg-primary">
              <h3 class="card-title">Live Debug</h3>
            </div>
            <div class="card-body">
              <input id="channel" type="hidden" placeholder="Enter channel name" class="form-control mb-2">
              <button class="btn btn-primary" onclick="joinChannel()">Join Channel</button>
              <button class="btn btn-secondary" onclick="leaveChannel()">Leave Channel</button>
              <button class="btn btn-info" onclick="connectSocket()">Connect</button>
              <button class="btn btn-warning" onclick="disconnectSocket()">Disconnect</button>

              <h2>Messages:</h2>
              <textarea id="messages" class="form-control mb-2" rows="10" readonly></textarea>

              <div class="table-responsive">
                <table class="table">
                </table>
              </div>

              <input id="message" type="text" placeholder="Enter message to inject into the AI conversation"
                class="form-control mb-2">
              <div class="d-flex align-items-center mb-2">
                <button class="btn btn-success mr-2" onclick="sendMessage()">Send Message</button>
                <button class="btn btn-danger" onclick="clearMessages()">Clear Messages</button>
                <div class="ml-auto status-container">
                  <div id="connection-status">connected: false</div>
                  <div id="join-status">joined: false</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% include 'footer.html' %}
{% endblock %}

{% block scripts %}
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const accessToken = getCookie('access_token');

    let socket;
    let currentChannel = '{{ channel }}';
    document.getElementById('channel').value = currentChannel;

    function updateConnectionStatus(connected) {
      const connectionStatus = document.getElementById('connection-status');
      if (connectionStatus) {
        connectionStatus.textContent = `connected: ${connected}`;
      }
    }

    function updateJoinStatus(joined) {
      const joinStatus = document.getElementById('join-status');
      if (joinStatus) {
        joinStatus.textContent = `joined: ${joined}`;
      }
    }

    function connectSocket() {
      if (!socket || socket.disconnected) {
        socket = io({
          transports: ['websocket'],
          auth: {
            token: accessToken
          }
        });
        setupSocketListeners();
        console.log('Socket connected');
      }
    }

    function disconnectSocket() {
      if (socket && socket.connected) {
        leaveChannel();
        socket.disconnect();
        updateConnectionStatus(false);
        console.log('Socket disconnected');

        Swal.fire({
          toast: true,
          position: 'top-end',
          icon: 'info',
          title: 'Disconnected from socket',
          showConfirmButton: false,
          timer: 3000
        });
      }
    }

    function setupSocketListeners() {
      socket.on('connect', function () {
        updateConnectionStatus(true);
      });

      socket.on('disconnect', function () {
        updateConnectionStatus(false);
        updateJoinStatus(false);
      });

      socket.on('send_message', function (data) {
        updateMessagesList(`Sent: ${data.message}`);
      });

      socket.on('response', function (data) {
        if (data instanceof ArrayBuffer) {
          const decoder = new TextDecoder('utf-8');
          const decodedMessage = decoder.decode(data);
          updateMessagesList(`${decodedMessage}`);
        } else {
          updateMessagesList(`${data.data}`);
        }
      });

      socket.on('status', function (data) {
        Swal.fire({
          toast: true,
          position: 'top-end',
          icon: 'success',
          title: data.message,
          showConfirmButton: false,
          timer: 3000
        });
      });
    }

    function updateMessagesList(message) {
      const messagesTextarea = document.getElementById('messages');
      messagesTextarea.value += message + '\n';
      messagesTextarea.scrollTop = messagesTextarea.scrollHeight;
    }

    function joinChannel() {
      currentChannel = document.getElementById('channel').value;
      if (!socket || !socket.connected) {
        connectSocket();
      }
      if (currentChannel) {
        socket.emit('join', { channel: currentChannel });
        updateJoinStatus(true);
        console.log(`Joining channel: ${currentChannel}`);
      } else {
        console.error('Channel name is empty');
      }
    }

    function leaveChannel() {
      if (currentChannel) {
        socket.emit('leave', { channel: currentChannel });
        updateJoinStatus(false);
        currentChannel = '';

        Swal.fire({
          toast: true,
          position: 'top-end',
          icon: 'info',
          title: 'Left the channel',
          showConfirmButton: false,
          timer: 3000
        });
      }
    }

    function sendMessage() {
      const message = document.getElementById('message').value;
      if (socket && socket.connected && currentChannel && message) {
        const messageData = {
          channel: currentChannel,
          message: message
        };
        socket.emit('send_message', messageData);
        document.getElementById('message').value = '';
      } else {
        console.error('Cannot send message: socket not connected or channel/message is empty');
      }
    }

    function clearMessages() {
      const messagesTextarea = document.getElementById('messages');
      messagesTextarea.value = '';
    }

    window.joinChannel = joinChannel;
    window.leaveChannel = leaveChannel;
    window.sendMessage = sendMessage;
    window.clearMessages = clearMessages;
    window.connectSocket = connectSocket;
    window.disconnectSocket = disconnectSocket;

    connectSocket();
    joinChannel();

    document.getElementById('message').addEventListener('keydown', function (event) {
      if (event.key === 'Enter') {
        sendMessage();
      }
    });
  });
</script>
{% endblock %}
