<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img id="gravatar-img" src="#" class="img-circle elevation-2" alt="current_user.full_name">
      </div>
      <div class="info">
        <a href="#" class="d-block">{{ current_user.full_name }}</a>
      </div>
    </div>

    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="{{ url_for('dashboard') }}"
            class="nav-link {{ 'active' if request.endpoint == 'dashboard' else '' }}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('list_phone_numbers') }}"
            class="nav-link {{ 'active' if request.endpoint == 'list_phone_numbers' else '' }}">
            <i class="nav-icon fas fa-phone"></i>
            <p>Numbers</p>
          </a>
        </li>
        <li
          class="nav-item has-treeview {{ 'menu-open' if request.endpoint in ['agents', 'prompt', 'conversations', 'pronounce', 'language', 'hints', 'params', 'includes', 'aifeatures', 'functions', 'swmlrequests', 'livedebug', 'debuglogs', 'translate', 'transcribe'] else '' }}">
          <a href="#"
            class="nav-link {{ 'active' if request.endpoint in ['agents', 'prompt', 'conversations', 'pronounce', 'language', 'hints', 'params', 'includes', 'aifeatures', 'functions', 'swmlrequests', 'livedebug', 'debuglogs', 'translate', 'transcribe' ] else '' }}">
            <i class="nav-icon fas fa-robot"></i>
            <p>
              AI Agents
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview ai-agents-indent">
            <li class="nav-item">
              <a href="{{ url_for('agents') }}" class="nav-link {{ 'active' if request.endpoint == 'agents' else '' }}">
                <i class="nav-icon fas fa-robot"></i>
                <p>Agents</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('prompt') }}" class="nav-link {{ 'active' if request.endpoint == 'prompt' else '' }}">
                <i class="nav-icon fas fa-edit"></i>
                <p>Prompt</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('conversations') }}"
                class="nav-link {{ 'active' if request.endpoint == 'conversations' else '' }}">
                <i class="nav-icon fas fa-comments"></i>
                <p>Conversations</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('pronounce') }}"
                class="nav-link {{ 'active' if request.endpoint == 'pronounce' else '' }}">
                <i class="nav-icon fas fa-bullhorn"></i>
                <p>Pronounce</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('language') }}"
                class="nav-link {{ 'active' if request.endpoint == 'language' else '' }}">
                <i class="nav-icon fas fa-language"></i>
                <p>Language</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('hints') }}" class="nav-link {{ 'active' if request.endpoint == 'hints' else '' }}">
                <i class="nav-icon fas fa-lightbulb"></i>
                <p>Hints</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('params') }}" class="nav-link {{ 'active' if request.endpoint == 'params' else '' }}">
                <i class="nav-icon fas fa-sliders-h"></i>
                <p>Parameters</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('includes') }}"
                class="nav-link {{ 'active' if request.endpoint == 'includes' else '' }}">
                <i class="nav-icon fas fa-code"></i>
                <p>Includes</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('aifeatures') }}"
                class="nav-link {{ 'active' if request.endpoint == 'aifeatures' else '' }}">
                <i class="nav-icon fas fa-brain"></i>
                <p>Features</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('functions') }}"
                class="nav-link {{ 'active' if request.endpoint == 'functions' else '' }}">
                <i class="nav-icon fas fa-code"></i>
                <p>Functions</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('swmlrequests') }}"
                class="nav-link {{ 'active' if request.endpoint == 'swmlrequests' else '' }}">
                <i class="nav-icon fas fa-file-alt"></i>
                <p>Requests</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('debuglogs') }}"
                class="nav-link {{ 'active' if request.endpoint == 'debuglogs' else '' }}">
                <i class="nav-icon fas fa-bug"></i>
                <p>Debug Logs</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('livedebug') }}"
                class="nav-link {{ 'active' if request.endpoint == 'livedebug' else '' }}">
                <i class="nav-icon fas fa-bug"></i>
                <p>Live Debug</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('translate') }}"
                class="nav-link {{ 'active' if request.endpoint == 'translate' else '' }}">
                <i class="nav-icon fas fa-language"></i>
                <p>Translate</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('transcribe') }}"
                class="nav-link {{ 'active' if request.endpoint == 'transcribe' else '' }}">
                <i class="nav-icon fas fa-microphone"></i>
                <p>Transcribe</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('signalwire') }}"
            class="nav-link {{ 'active' if request.endpoint == 'signalwire' else '' }}">
            <i class="nav-icon fas fa-cogs"></i>
            <p>SignalWire</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('datasphere') }}"
            class="nav-link {{ 'active' if request.endpoint == 'datasphere' else '' }}">
            <i class="nav-icon fas fa-database"></i>
            <p>DataSphere</p>
          </a>
        </li>
        <li class="nav-item mt-auto">
          <a href="{{ url_for('logout') }}" class="nav-link">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <p>Logout</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>