{% extends 'base.html' %}

{% block title %}Conversations{% endblock %}

{% block content %}
  <!-- Navbar -->
  {% include 'navbar.html' %}
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  {% include 'sidebar.html' %}
  
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-6">
                    <h1 class="m-0">SWML Requests</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header bg-primary">
                            <h3 class="card-title">SWML Requests</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="swmlRequestsTable" class="table table-striped w-100">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Created</th>
                                        <th>Request</th>
                                        <th>Response</th>
                                        <th>IP Address</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Data will be populated by JavaScript -->
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
     <!-- Footer -->
  {% include 'footer.html' %}
  <!-- /.footer -->
{% endblock %}

{% block scripts %}
  <!-- Add DataTables CSS and JS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

 <script>
    $(document).ready(function() {
      initializeDataTable();

      // Event delegation for dynamically created elements
      $('#swmlRequestsTable').on('click', '.copy-btn', function() {
        const dataString = $(this).prev('textarea').val();
        copyToClipboard(dataString);
      });

      // Event delegation for delete button
      $('#swmlRequestsTable').on('click', '.delete-btn', function() {
        const requestId = $(this).data('id');
        confirmDelete(requestId);
      });
    });

    function initializeDataTable() {
      // Check if DataTables is loaded
      if ($.fn.DataTable) {
        // Initialize DataTable
        $('#swmlRequestsTable').DataTable({
          "ajax": {
            "url": "{{ url_for('swmlrequests') }}",
            "dataSrc": "",
            "headers": {
              "Accept": "application/json"
            }
          },
          "order": [[1, 'desc']],
          "columns": [
            { "data": "id" },
            { "data": "created",
              "render": function(data, type, row) {
                return new Date(data).toLocaleString();
              }
            },
            { "data": "request",
              "render": function(data, type, row) {
                const dataString = JSON.stringify(data, null, 2);
                const uniqueId = `copy-btn-${row.id}`; // Assuming each row has a unique ID
                return `
                  <textarea readonly style="width: 500px; height: 5em;">${dataString}</textarea>
                  <i id="${uniqueId}" class="fas fa-copy copy-btn"></i>
                `;
              }
            },
            { "data": "response",
              "render": function(data, type, row) {
                const dataString = JSON.stringify(data, null, 2);
                const uniqueId = `copy-btn-${row.id}`; // Assuming each row has a unique ID
                return `
                  <textarea readonly style="width: 500px; height: 5em;">${dataString}</textarea>
                  <i id="${uniqueId}" class="fas fa-copy copy-btn"></i>
                `;
              }
            },
            { "data": "ip_address" },
            { "data": null, // New column for delete button
              "render": function(data, type, row) {
                return `<button class="btn btn-danger delete-btn" data-id="${row.id}">Delete</button>`;
              }
            }
          ],
          "pageLength": 10,
          "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
          "responsive": true,
          "autoWidth": true
        });
      } else {
        console.error('DataTables is not loaded. Make sure you have included the DataTables library.');
      }

      window.copyToClipboard = async function(value) {
        try {
          await navigator.clipboard.writeText(JSON.stringify(value, null, 2));
          const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 1500,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener('mouseenter', Swal.stopTimer)
              toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
          });

          Toast.fire({
            icon: 'success',
            title: 'Copied to clipboard'
          });
        } catch (err) {
          console.error('Failed to copy: ', err);
        }
      }
    }

    function confirmDelete(id) {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.isConfirmed) {
          deleteRequest(id);
        }
      });
    }

    function deleteRequest(id) {
      $.ajax({
        url: `/swmlrequests/${id}`, // Adjust the URL to match your backend endpoint
        type: 'DELETE',
        success: function(result) {
          // Reload the DataTable to reflect the changes
          $('#swmlRequestsTable').DataTable().ajax.reload();
          Swal.fire('Deleted!', 'The request has been deleted.', 'success');
        },
        error: function(xhr, status, error) {
          Swal.fire('Error!', 'Failed to delete the request.', 'error');
        }
      });
    }
  </script>
    
{% endblock %}
